*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

.navbar{
    background-color: rgb(7, 5, 109);
   
}
.nav-logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
nav ul{
      float: right;
      margin: 30px;
    
  }
  nav ul li{
      display: inline-block;
      margin-right: 50px;
  }

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 6px 10px;
}

section{
    background: url(charityimg.jpg);
    background-size: cover;
    height: calc(100vh - 50px);
  }

  footer div{ border: 2px solid blue;
    display: flex;
    padding: 5px;
    margin: 20px;

  }